<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515072910889-tcksorpg4oash0sf3jho9c0lj84u31gj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515072910889-tcksorpg4oash0sf3jho9c0lj84u31gj</string>
	<key>API_KEY</key>
	<string>AIzaSyBRnQ9dyvT9CV9hbevy2hLBLXqVXmYwqNw</string>
	<key>GCM_SENDER_ID</key>
	<string>515072910889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaronsquires.car3</string>
	<key>PROJECT_ID</key>
	<string>car3-4b8e5</string>
	<key>STORAGE_BUCKET</key>
	<string>car3-4b8e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515072910889:ios:125fed47a2e686e1f05e38</string>
</dict>
</plist>